/* Font Popping url  */

  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
/* Rule to add  */
/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
*{
  
  margin: 0;
  padding: 0;
}
 /*********************** Styling layout ******************************************************* */
.topnavbar{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 12px 50px;
 font-family: 'Poppins', sans-serif;
 text-transform: uppercase;
 box-shadow: 0 8px 6px -6px gray;
 --webkit-box-shadow: 0px 8px 6px -6px ;
 border-bottom: 0px solid gray;
}
.topnavbar>ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;

}
.search-box-2{
  display: none;
}
.menu-container>img{
  display: none;
  width: 30px;
}
.menu-img-container img{
  display: none;
  width: 30px;
}
.topnavbar li{
  list-style: none;
  color: black;
}
.search-container{
  display: flex;
  align-items: baseline;
  gap: 20px;
}
.search-container input{
  width: 390px;
  padding: 4px 10px;
  border: 1px solid gray;
  border-radius: 10px;
  outline: rgb(80, 80, 232);
}
.search-container button{
  border: none;
  padding: 3px 10px;
  color: white;
  background-color: rgb(55, 55, 246);
  border-radius: 10px;
}

.link {
  text-decoration: none;
  color: black;
  
}


/* Footer styling  */
.footer{
  color:  white;
  padding:25px;
  background: #000000;
  background: -webkit-linear-gradient(to right,#434343,#000000);
  background: linear-gradient(to right,#434343,#000000);

}
.footer a{
  text-decoration: none;
  color:  white;
  padding: 10px;
}
.footer a:hover{
 
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}
/* **********Layout Styling end **************** */

/* **********Styling Pages ********************************************************* */

/* *********Styling Register page ******************* */


.register-form{
  width: 30vw;
  margin: 20px  auto;
  padding: 10px 20px;
  
}

/* *************Styling login page ******************* */
.Login{

  width: 30vw;
  margin: 120px  auto;
  padding: 10px 20px;
}






/* **********Contact us Page **************** */
.contact-page{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}
.contact{
  display: flex;
  gap: 50px;
  align-items: center;
  border-radius: 15px;
  
}
.contact h1{
  background-color: #726c6c;
  text-align: center;
  border-radius: 15px;
  
}

.contact-page img{
  width: 400px;
  border-radius: 15px;
}

/* ******************** Page not found style ************************************** */
.pagenotfound{
    width: 12vw;
    margin: auto;
    margin-top: 100px;
}

/* ******************** Admin Menu ************************************** */
#Admin-menu{
  width: 25vw;

}
#menu-content-container{
  display: flex ;
  flex-flow: row wrap ;
  gap: 40px;
  margin: 20px 60px;
 

}
#right-admin-dashoard{
  width: 55vw;
}
/* ******************** Create-category-container ************************************** */ 
#enter-new-category{
  margin: 15px 0px;
  width: 50%;
}
#modal-input{
  width: 80%;
  margin-bottom: 10px;
}
/* ******************** Mangae product page ************************************** */ 
#product-container{
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
}
.product-item{
  box-shadow: 0px 0px 4px 0px gray;
  width: 20vw;
  margin: 10px 10px;
  padding: 10px 20px;
}
.product-item img{
  width: 200px;
  align-self: center;
}
.product-item p{
  padding: 0;
  margin: 0;
}

/* **************** Home page styling ***************** */
.Filter{
  width: 20vw;
  margin: 20px 10px;
}
.filter-content-container{
  display: flex;

}
.filter-mob-version{
  display: none;
}
.pro-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80vw;
  margin: 30px auto;
}
.pro-item{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 17vw;
  margin: 10px 10px;
  padding: 10px 10px;
  box-shadow: 0px 0px 5px 0 gray;
}
.pro-item img{
  width: 95%;
  height: 280px;
  margin:  auto;
}
.pro-item-btn-container{
  display: flex;
  justify-content: space-between;
}

/* ************************ Cart page style *************************  */
.cart-content{
  display: flex;

}
.cart-item-container{
  width: 60vw;
  display: flex;
  flex-flow: column wrap;
  padding-left: 10vw;
  padding-top: 50px;
}
.cart-item{
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
  margin: 15px 0px;
  box-shadow: 0px 0px 3px 0.5px gray;
}
.cart-item img{
  width: 100px;
  height: 90%;
}



/* ***************** User Profile Edit **************  */
.profile-view{
  display: flex;
  align-items: baseline ;
  gap: 20px;
}
.profile-view p{
  font-size: 21px;
}

/* Making page responsive  */

/* Header  */

@media  screen and (max-width:1300px) {
  .filter-desktop{
    display: none;
  }
  .filter-mob-version{
    display: block;
    background-color: white;
    position: fixed;
    width: 40vw;
    /* transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
  }
  .search-box-1{
    display: none;
  }
  .search-box-2{
    display: block;
  }
  .topnavbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    padding: 12px 0px;
   
  }
  .topnavbar ul{
    flex-direction: column;
  }
  .menu-container{
    display: flex;
    flex-direction: column;
  }
 
  .menu-img-container{
    gap: 200px;
    align-items: center ;

  }
  .menu-img-container img{
    display: block;
    
  }
  
  .search-container{
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin: 19px 18px 8px 50px;
  }
  .search-container input{
    width: 220px;
    
  }

  /* Product page  */
  .pro-container{
    flex-flow: column wrap;
    
  }
  .pro-item{

    width: 70vw;

  }
  /* //////// For cart ////// */
  #product-container{
   flex-direction: column ;
  }
  .product-item{
    width: 70vw;
  }
 
  
  
  
}